<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="Person.name"/>
<!--Utilizamos Ngclass para englobar las clases dinámicas en una sola utilizando ngClass
    En este caso tenemos la clase valid e invalid para cambiar el color de un hr-->
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  EL campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div>
    <!--Englobamos varios estilos utilizando ngStyle de forma dinámica-->
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
  }"></div>
  </div>
</div>

<hr>
<h1>Class binding & Style binding</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="Person.name"/>
<!--usamos property binding para declarar una clase dinamica con class.nombredelaclase
donde colocamos una variable o expresión boleana en este caso nameInput2 para cuando
el campo esté vacio-->
<p class="message-error" [class.invalid]="nameInput2.invalid">
  EL campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="Person.name"/>
<!--Utilizamos property Binding a style para modicicar el estilo de un parrafo de forma
  directa condicionado con un if en nameInput3 en caso de ser invalid-->
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto de un parrafo cualquiera</p>


<hr>
<h1>ngSwitch</h1>
<!--Utilizamos ngModel para escuchar la variable name de la clase Person
y creamos un switch con el valor de name donde evaluamos el nombre-->
<input type="text" required [(ngModel)]="Person.name"/>
<div [ngSwitch]="Person.name">
  <p *ngSwitchCase="'fabian'">La persona es Fabian</p>
  <p *ngSwitchCase="'Roberto'">La persona es Roberto</p>
  <p *ngSwitchCase="'nicolas'">La persona es Nicolas</p>
  <p *ngSwitchDefault>Opcion Default no hace match</p>
</div>  

<hr>
<h1>ngFor con Objetos</h1>
  <!--Creamos una interface Product en product.model.ts para tipar la clase 
  products donde creamos un array de objetos que recorremos con el for y 
desplegamos el atributo de imagen, price y name. RECUERDA QUE SOLO SE PUEDEN ITERAR ARRAYS -->
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr/>
<h1>ngFor</h1>
<ul>
  <!--Estructura clásica de un for donde desplegamos los valores de un 
    arreglo string names donde name es una variable temporal-->
  <li *ngFor="let name of names">
    {{ name }}
  </li>
</ul>
<h1>ngFor con indice</h1>
<ul>
  <!--Usamos index as i para obtener el index en la variable temporal i-->
  <li *ngFor="let name of names; index as i">
    {{ i }}. {{ name }} 
  </li>
</ul>
<h1>ngFor dinámico</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>
<ul>
  <!--Implementamos el mensaje No hay nombres cuando el arreglo names está vacio-->
  <li *ngIf="names.length == 0">No hay nombres</li>
  <!--Implementamos el método deleteName para eliminar los registros en el array names donde i es el indice-->
  <li *ngFor="let name of names; index as i">
    {{ i }}. {{ name }} <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr/>
<h1>ngIF</h1>
<!--Seguimos utilizando ngModel para actualizar la variable person.name en tiempo real-->
<input type="text" required [(ngModel)]="Person.name"/>
<!--Implementamos un ngIf: esta etiqueta P solo se mostrara si se cumple la condicion-->
<p *ngIf="Person.name == 'fabian'">Soy Fabian</p>
<!--Implementamos un ngif else de la siguiente manera-->
<p *ngIf="Person.name == 'beto' && Person.age == 38; else elseBlock">Soy Beto</p>
<!--Creamos un ng-template llamado #elseBlock para poder implementar el else en un ngif-->
<ng-template #elseBlock>
  <p>Bloque del Else</p>
</ng-template>

<hr/>
<!--Para poder utilizar ngModel debemos importar import { FormsModule } from '@angular/forms'; 
     En app.module.ts-->
<h1>NgModel [()]</h1>
<!--Es una fusión entre Property Binding [] y Event Binding () ya que todo el tiempo está escuchando
    el valor de la variable que se defina y enviandolo al navegadors-->
<p>Nombre {{ Person.name }}</p>
<!--Hace lo mismo que keyup pero sin necesidad del metodo-->
<input type="text" required #nameInput="ngModel" [(ngModel)]="Person.name"/>
<!--la variable nameInput al declararla en el input como required manda un false cuando el campo esté vacio-->
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad {{ Person.age }}</p>
<!--En este input validamos que la variable sea false en caso de exceder el max y min establecidos-->
<input type="number" max="28" min="18" required #ageInput="ngModel" [(ngModel)]="Person.age"/>
<p>Valid: {{ ageInput.valid }}</p>

<hr/>
<!--Usamos la variable $event para enviar el evento a la capa componente-->
<h1>Eventos que puedes escuchar</h1>
<div class = "box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, error asperiores nemo corporis voluptatum assumenda hic laudantium consectetur possimus repellat consequuntur quos deserunt nulla magnam consequatur voluptatibus delectus adipisci? Nostrum!
  </p>  
</div>
<p>Nombre {{ Person.name }}</p>
<input type="text" [value]="Person.name" (keyup)="changeName($event)"/>

<hr/>
<!--Usamos () en el evento para indicar que vamos a llamar a un metodo de la capa de componente-->
<h1>Event Binding ()</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ Person.age }}</p>
<button (click)="incrementaEdad()">Age ++</button>
<button (click)="resetEdad()">Age reset</button>

<hr/>
<h1>Property Binding []</h1>
<!--Usamos [] para indicar que vamos a traer el valor de una variable de la capa de componente-->
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="Person.name"/>
<progress max="100" [value]="Person.age"></progress>

<hr/>
<h1>Hola Mundo con string interpolation</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3+3 }}</p>
<h3>Hola soy {{ name }} y tengo {{ age }} años</h3>

